body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lavenderblush;
}

.products-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 40px;
margin: 15px 25px;


}

h1{
  color: dimgray;


}

.component{
display: grid;


}
.header{
  text-align: center;


}
.SearchBar{
  margin: 25px;
  color: dimgray;
  margin: 10px;
 
}

img{
width: 300px;
height: 100px;
}

h3, h4{
  margin: 0;
  text-align: center;
  padding: 20px;
}


.nav{
display: grid;
grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
place-items: center;
background-color: lightsteelblue;
height: 30px;
color: brown;
padding: 10px;
margin: 0;
text-transform: uppercase;
list-style-type: none;
}

th{
  text-transform: uppercase;
}

a{
  text-decoration:none;
  color: brown;
  font-weight: 700;
  font-size: 20px;
}

.cart{
  margin: 25px;
  background-color:LightCyan;
  display: grid;
  }
  


tr{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
place-items: center;
padding: 10px;
background-color: lightblue;
  }

  table{
    border: 2px solid black;
  }

  a:hover, a:focus { 
    color: red;
  }

  .buttons{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .right{
    place-self: end;
  }

  .left{
    place-self: start;
  }
 

  

